<h2 class="title">Notificações novas</h2>
<div class="region region-content">
<section id="block-system-main" class="block block-system clearfix">
  <div class="notifications-actions">
    <button {{action 'markAllAsRead'}} {{bind-attr disabled=isEmpty}} class="btn btn-default notificacao-marcar-tudo-lido pull-right ">Marcar todas como lidas</button>
  </div>
  <div class="table-responsive clearfix">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Notificação</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {{#each}}
          {{render 'notifications/item' this}}
        {{else}}
        <tr >
          <td colspan="3">
            <div class="jumbotron text-center">
              Nenhuma notificação nova.
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
</div>