<ul class="nav nav-pills nav-stacked">
  <li>
    {{#link-to 'notifications'}}
      Novas
      {{we-notifications-count
      count=App.WeNotification.notificationCount
      pullRight=true}}
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'notifications.lidas'}}
      Lidas
      {{we-notifications-count
      count=App.WeNotification.readNotificationCount
      highlight=false
      pullRight=true}}
    {{/link-to}}
  </li>
</ul>